{{page-title "ICheered"}}


<div>
    <Topbar @move-view={{this.moveView}} />
</div>



<div class="absolute h-screen flex flex-col items-center justify-center w-10 ">
    <ScrollButton @scrollto="1" @move-view={{this.moveView}} @activeView={{this.activeView}} @icon="asterisk">
    </ScrollButton>
    <ScrollButton @scrollto="2" @move-view={{this.moveView}} @activeView={{this.activeView}} @icon="terminal">
    </ScrollButton>
    <ScrollButton @scrollto="3" @move-view={{this.moveView}} @activeView={{this.activeView}} @icon="microchip">
    </ScrollButton>
    <ScrollButton @scrollto="4" @move-view={{this.moveView}} @activeView={{this.activeView}} @icon="camera">
    </ScrollButton>
    <ScrollButton @scrollto="5" @move-view={{this.moveView}} @activeView={{this.activeView}} @icon="print">
    </ScrollButton>
    <ScrollButton @scrollto="6" @move-view={{this.moveView}} @activeView={{this.activeView}} @icon="address-card">
    </ScrollButton>
</div>

<div class="bg-bgwhite snap-y snap-mandatory h-screen w-screen overflow-scroll no-scrollbar overflow-x-hidden scroll-auto"
    {{on "scroll" this.setActiveViewOnScroll}}>

    <ScrollView @div_id="1" class="bg-bgwhite ">
        <div class="flex flex-col justify-center">
            <div class="h-full 2xl:h-[90%] w-screen px-10">
                <Hero @move-view={{this.moveView}} class="h-full "></Hero>


            </div>
            <div class="w-screen 2xl:h-full 2xl:flex 2xl:justify-end">
                <div class="custom-shape-divider-bottom-1653910826 w-screen">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path
                            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                            opacity=".25" class="shape-fill"></path>
                        <path
                            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                            opacity=".5" class="shape-fill"></path>
                        <path
                            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                            class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </div>
    </ScrollView>


    <ScrollView @div_id="2" class="bg-slate-900">
        <div class="flex flex-col items-center">
            <ScrollViewContent @title="Software" class="h-full">
                <:customicon>
                    <div class="w-full flex justify-center text-7xl textgradientorange">
                        <i class="fas fa-code fa-2x"></i>
                    </div>
                </:customicon>
                <:text>
                    3 years of experience in fullstack and computational development. <br> <br> Python (FastAPI,
                    Tensorflow,
                    MatPlotLib), Frontend (VueJS, EmberJS, TailwindCSS), C++, Flutter. <br> Especially interested in IOT
                    and
                    automation.
                </:text>
            </ScrollViewContent>

            <div class="w-screen h-18">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path fill="#2563EB" d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill">
                    </path>
                </svg>
            </div>

        </div>
    </ScrollView>


    <ScrollView @div_id="3" class="bg-blue-600">
        <div class="flex flex-col ">
            <div class="h-full w-screen">
                <ScrollViewContent @title="Electrical Engineering" class="h-full">
                    <:customicon>
                        <img src="circuitboard.svg" />
                    </:customicon>
                    <:text>
                        Bachelor of Electrical Engineering from the University of Twente, and a few years of experience
                        working
                        on miscellaneous electronics projects.
                    </:text>
                </ScrollViewContent>
            </div>
            <div class="w-screen">
                <div class="custom-shape-divider-bottom-1653911226 w-screen ">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </div>


    </ScrollView>



    <ScrollView @div_id="4" class="bg-teal-400">
        <div class="flex flex-col">
            <div class="h-full w-screen">
                <ScrollViewContent @title="Photography" class="w-screen h-full">
                    <:customicon>
                        <img src="camera.svg" />
                    </:customicon>
                    <:text>
                        Since 2018 I've taken a whole lot of photos using my Nikon D5300, 17-55 F2.8 and 70-300
                        F3.5-5.6. I'm
                        always up for shoots, and you can see some of my work below.<br>

                        <button type="button">
                            <a href="https://www.instagram.com/i.cheered/" target="_blank"><i
                                    class="fab fa-instagram fa-2x instagram text-transparent bg-clip-text"></i></a>

                        </button>
                    </:text>
                </ScrollViewContent>
            </div>
            <div class="w-screen">
                <div class="custom-shape-divider-bottom-1653911441">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z"
                            class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </div>

    </ScrollView>

    <ScrollView @div_id="5" class="bg-rose-500">
        <div class="flex flex-col">
            <div class="h-full w-screen">
                <ScrollViewContent @title="3D design and printing" class="h-full w-screen">
                    <:customicon>
                        <img src="3dprinter.svg" />
                    </:customicon>
                    <:text>
                        Plenty experience with designing custom objects in Fusion 360 and printing on my Creality CR-10
                        3D
                        printer.
                    </:text>
                </ScrollViewContent>
            </div>
            <div class="w-screen">
                <div class="custom-shape-divider-bottom-1653911552">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </div>

    </ScrollView>


    <ScrollView @div_id="6" class="bg-bgwhite">
        <div class="flex flex-col items-center w-full px-20 pt-10">
            <div class="w-full h-1/3 flex justify-center items-end text-black pt-20">
                Contact
            </div>

            <div class="w-full h-2/3 flex flex-col items-center">
                <div class="flex flex-col justify-start items-start  h-full pt-10 ">
                    <Contact @icon="fas fa-envelope" @link="mailto:tjeerd992@gmail.com" @text="Tjeerd992@gmail.com" />
                    <Contact @icon="fab fa-linkedin" @link="https://www.linkedin.com/in/tjeerd-bakker-4abbb3178/"
                        @text="Tjeerd Bakker" />
                    <Contact @icon="fab fa-github" @link="https://github.com/icheered" @text="ICheered" />
                </div>
                <button class="rounded-full text-2xl bg-blue-900 text-white mt-8 p-2">
                    <a class="text-md" href="ResumeTjeerdBakker.pdf" download="ResumeTjeerdBakker.pdf">
                        <i class="fas fa-download"></i> Download Resume - PDF</a>
                </button>



            </div>

            <LeafletMap class="w-full h-full m-10" @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>
                <layers.tile @url={{this.mapurl}} />
                <layers.marker @location={{this.hotel}} as |marker|>
                    <marker.popup @popupOpen={{true}}>
                        <h3>This is where I'm located!</h3>
                    </marker.popup>
                </layers.marker>
            </LeafletMap>

        </div>
    </ScrollView>
</div>